.menu {
	position: absolute;
	top: 0;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}
.menu li a {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 12rem;
	padding: 1rem;
	color: #72739f;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s ease-in-out;
}
.active {
	background: #d6d7f6;
}
.menu li a:hover,
.menu li:first-child a {
	background: #267fdd;
	color: #fff;
}

li a.menu-item {
	display: none;
}

li a.open {
	display: flex;
}

.close::before {
	position: block;
	content: "x ";
}