@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

* {
    font-family: Poppins, sans serif;;
}
nav{
    position:sticky;
    top:0;
    z-index: 1;
}
.navigation {
    background: rgb(85, 22, 77);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
}



.navigation.responsive #menubutton{
    text-align: center;
    width: 100%;
}

.navigation.responsive{
    flex-direction: column;
    align-items: flex-start;
    background: rgb(85, 22, 77);
}

.navigation a{
    padding: 1rem;
    text-decoration: none;
    vertical-align: bottom;
    display:inline-block;
    color:white;
    height:20px;
}
.navigation a:hover{
    background-color: #404040;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

body {
    margin: 0px;
}

main {
    margin: 50px;
}

.learning {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 20px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24091b;
    font-size: 16px;
    padding: 1em 0;
}


p, li, ul {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.7rem;
}

header h1 {
    margin-right: 20px;
}
h1 {
    color:rgb(1, 77, 121);
    font-family: Poppins, sans-serif;
    font-size: 40px;
}
h2 {
    font-family: Poppins, sans-serif;
}
h3 {
    font-family: Poppins, sans-serif;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 20px;
}

.row {
    display: flex;
}
.column {
    flex: 50%;
    margin: 10px 20px 20px 10px;
}

.imagesrc {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 500px;
}

.hero img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

.map-responsive iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
    margin: 1rem auto;
    border-radius: 5px;
    display: block;
}


label{
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

form{
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    display:inline-block;
    background: blanchedalmond;
    color: #000;
}
#formtable{
    display:none;
}

table {
    border-collapse: collapse;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

table td {
    border: 1px solid #ccc;
    padding: 5px;
}

table th {
    border: 1px solid #ccc;
    padding: 5px;
    background: rgba(128,128,128,0.5)
}

table tr:nth-child(even) {
    background: rgba(128,128,128,0.2)
}

.weather-icon {
    width: 100px;
    height: 100px;
}